.About{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    row-gap: 90px;
    align-self: stretch;
    flex-wrap: wrap;
}
.About-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 59px;
}
.About-text-title{
    display: flex;
    width: 521px;
    height: 300px;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
}
.About-text-title h2{
    color: #111;
    font-family: e-Ukraine Head;
    font-size: 101px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    text-transform: uppercase;
}
.About-line{
    width: 520.239px;
    height: 86px;
    transform: rotate(-1.7deg);
    position: absolute;
    margin-top: 200px;
    z-index: -1;
    background:#9EB25D;
}
.About-text-conteiner{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 31px;
}
.About-text-conteiner p{
    width: 588px;
    color: #111;
    font-family: e-Ukraine Head;
    font-size: 25px;
    font-style: normal;
    font-weight: 200;
    line-height: 38px;
    text-align: start;
}
.About-text-conteiner a{
    color: #015BBB;
    font-family: e-Ukraine Head;
    font-size: 25px;
    font-style: normal;
    font-weight: 200;
    line-height: 38px;
}
.About-text-conteiner a img{
    fill: #015BBB;
}
.About-content{
    display: flex;
    width: 541px;
    height: 484px;
    padding: 109.326px 0px 109.674px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.About-content img{
    width: 541px;
    height: 380px;
    flex-shrink: 0;
}