.about{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    row-gap: 90px;
    align-self: stretch;
    flex-wrap: wrap;
}
.about-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 59px;
}
.about-text-title{
    display: flex;
    width: 521px;
    height: 300px;
    flex-direction: column;
    align-items: flex-start;
    text-align: start;
}
.about-text-title h2{
    color: #111;
    font-family: e-Ukraine Head;
    font-size: 101px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    text-transform: uppercase;
}
.about-text-conteiner{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 31px;
}
.about-text-conteiner p{
    width: 588px;
    color: #111;
    font-family: e-Ukraine Head;
    font-size: 25px;
    font-style: normal;
    font-weight: 200;
    line-height: 38px;
    text-align: start;
}
.about-text-conteiner a{
    color: #015BBB;
    font-family: e-Ukraine Head;
    font-size: 25px;
    font-style: normal;
    font-weight: 200;
    line-height: 38px;
}
.about-text-conteiner a img{
    fill: #015BBB;
}
.about-content{
    display: flex;
    width: 541px;
    height: 484px;
    padding: 109.326px 0px 109.674px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about-content-img{
    width: 541px;
    height: 380px;
    flex-shrink: 0;
}
@media (max-width: 1279px) {
     .about{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        align-content: flex-start;
        row-gap: 90px;
        align-self: stretch;
        flex-wrap: wrap;
     }
     .about-text{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        flex: 1 0 0;
     }
     .about-text-title{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        align-self: stretch;
        width: auto;
        height: auto;
     }
     .about-text-title h2{
        font-size: 38px;
        font-style: normal;
        font-weight: 200;
        line-height: normal;
        text-transform: uppercase;
     }
     .about-text-conteiner p{
        align-self: stretch;
        width: 100%;
        font-family: e-Ukraine Head;
        font-size: 25px;
        font-style: normal;
        font-weight: 200;
        line-height: 38px; /* 152% */
     }
     .about-content{
        display: flex;
        width: 100%;
        height: auto;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0 2px;
    }
    .about-content-img{
        width: 100%;
        height: auto;
    }
}