.contact-div{
    display: flex;
}
.content-contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
    align-self: stretch;
}
.content-contact h3{
    width: 1055px;
    color: #111;
    text-align: center;
    font-family: e-Ukraine Head;
    font-size: 35px;
    font-style: normal;
    font-weight: 400;
    line-height: 46px;

}
.contact-blok{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}
.contact-blok a{
    width: 150px;
    height: 30px;
    text-align: center;
    color: #111;
    font-family: e-Ukraine Head;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
    background: #9EB25D ;
    border-radius: 8px;
}
.contact-blok a:hover{
    color:#000;
    border: 1px solid #9EB25D;
    background:none ;
}
@media (max-width: 1279px) {
    .contact-div{
        display: flex;
        max-width: 758px;
        width: 100%;
    }
    .content-contact{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        align-self: stretch;
    }
    .content-contact h3{
        width: auto;
        color: #111;
        text-align: center;
        font-family: e-Ukraine Head;
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: 46px;
    
    }
    .contact-blok{
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        align-items: center;
    }
    .contact-blok a{
        width: 100px;
        height: 30px;
        text-align: center;
        color: #111;
        font-family: e-Ukraine Head;
        font-size: 25px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-decoration: none;
        background: #9EB25D ;
        border-radius: 8px;
    }
    .contact-blok a:hover{
        color:#000;
        border: 1px solid #9EB25D;
        background:none ;
    }
}
@media (max-width: 767px) {
    .contact-blok{
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        gap: 20px;
    }
    .contact-blok a{
        width: 90%;
        height: 30px;
        text-align: center;
        color: #111;
        font-family: e-Ukraine Head;
        font-size: 25px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-decoration: none;
        background: #9EB25D ;
        border-radius: 8px;
    }
}