.Main{
    display: flex;
    padding: 0px 50px 100px 50px;
    flex-direction: column;
    align-items: center;
    gap: 120px;
    align-self: stretch;
}

@media (max-width:675px) {
    .Main{
        display: flex;
        padding: 0px 20px;
        flex-direction: column;
        align-items: center;
        gap: 70px;
        align-self: stretch;
    }
}