.partners{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 90px;
    align-self: stretch;
}
.partners-title{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.partners-title h2{
    color: #111;
    font-family: e-Ukraine Head;
    font-size: 101px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
    text-transform: uppercase;
    text-align: start;
}
.partner-content{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    align-content: flex-start;
    gap: 30px;
    align-self: stretch;
    flex-wrap: wrap;
}


@media (max-width: 1279px) {
    .partners{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 60px;
        align-self: stretch;
    }
    .partners-title h2{
        font-size: 38px;
        font-style: normal;
        font-weight: 200;
        line-height: normal;
        text-transform: uppercase;
    }
}
