.partners-scroll-container {
    overflow: hidden;
    position: relative;
    width: 100%;
    margin: 0 auto;
}

.partners-scroll-content {
    display: flex;
    transition: transform 0.5s ease;
    gap: 20px;
}

.partners-scroll-content a {
    text-decoration: none; /* Видаляємо підкреслення для посилань */
}

.partners-scroll-content img {
    width: 100%;
    height: auto;
}

.partners-number {
    right: 0%;
    display: none;
    align-items: center;
    justify-content: start;
    gap: 16px;
    margin-bottom: 30px;
}

.scroll-button {
    display: flex;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    align-items: center;
}

.button-icon {
    background-color: none;
    padding: 5px;
    border-radius: none;
    box-shadow: none;
}

.noname {
    display: flex;
    width: 290px;
    height: 390px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #F1F1F1;
    flex-shrink: 1;
    opacity: 0.7; /* Зменшуємо прозорість для неактивних карток */
    transition: opacity 0.3s ease; /* Додаємо плавну анімацію */
}

.noname.active {
    opacity: 1; /* Збільшуємо прозорість для активної карти */
}

.noname:hover {
    background: #FFD210;
}

@media (max-width: 1279px) {
    .partners-number {
    right: 0%;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 16px;
    margin-bottom: 30px;
}
}