.hero{
    display: flex;
    padding-top: 70px;
    flex-direction: column;
    align-items: center;
    gap: 118px;
    align-self: stretch;   
}
.hero-text-content{
   width: 100%;
   height: auto;
   display: flex;
}
.hero-text{
    align-self: stretch;
    color:  #111;
    text-align: center;
}

.hero-text h1{  
  font-family: e-Ukraine Head;
    font-size: 90px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}


.hero-scroll-container {
    overflow: hidden;
  }
  
  @media (max-width: 1279px) {
    .hero{
        display: flex;
        padding-top: 24px;
        flex-direction: column;
        align-items: center;
        gap: 29px;
        align-self: stretch;
    }
    .hero-text h1{  
        text-align: center;
        font-family: e-Ukraine Head;
        font-size: 38px;
        font-style: normal;
        font-weight: 200;
        line-height: normal;
        text-transform: uppercase;
    }
    .hero-line{
        height: 33px;
    }
}
  
 
  
  
  
  