.App {
  text-align: center;
  margin: 0 auto;
}

@font-face{
  font-family: e-Ukrine Head;
  src: url(../fonts/e-UkraineHead-Regular.otf) , url(../fonts/e-UkraineHead-Bold.otf) , url(../fonts/e-UkraineHead-Light.otf), url(../fonts/e-UkraineHead-LOGO.otf), url(../fonts/e-UkraineHead-Thin.otf), url(../fonts/e-UkraineHead-UltraLight.otf);
}
.container {
    display: flex;
    width: 100%;
    padding: 0 20px;
}

@media screen and (max-width: 768px) {
  .container { 
    display: flex;
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .container {
    display: flex;
    width: 100%;
  }
}